wa-tooltip::part(base) {
  background-color: var(--app-header-background-color) !important;
  backdrop-filter: var(--ha-card-backdrop-filter) !important;
  -webkit-backdrop-filter: var(--ha-card-backdrop-filter) !important;
  border-radius: var(--ha-card-border-radius) !important;
  box-shadow: var(--ha-card-box-shadow) !important;
}
wa-tooltip::part(body) {
  color: var(--primary-text-color) !important;
}
